.estrutura {
  display: grid;
  grid-template-areas:
    "cabeçalho"
    "cardContainer";
}

.cardContainer {
  display: flex;
  grid-area: cardContainer;
  /* X pra cima, Y pros lados, e Z pra baixo: */
  padding: 10px 35px 4rem;
}

.filtro {
  /* 2 pra cima, 0 pros lados, e 0 pra baixo: */
  margin: 2rem 0 0;
  margin-right: 1rem;
  padding-bottom: 100%;
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  max-height: 50rem;
  padding: 1rem;
}

.cards {
  width: 100%;
}

@media (max-width: 940px) {
  .filtro {
    width: 60%;
  }
}
@media (min-width: 640px) {
  .filtro {
    width: 40%;
  }
}
@media (min-width: 940px) {
  .filtro {
    width: 20%;
  }
}
