.card {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  /* Cima, lateral e borda inferior */
  box-shadow: 0.125rem 0.125rem 0.5rem var(--color-light-blue);
  display: flex;
  align-items: center;
  background-color: var(--color-white);
}

.card h2 {
  font-size: 1.6rem;
  color: var(--color-secondary);
  line-height: 3rem;
}

.card h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--color-primary);
  line-height: 2rem;
}

.card p {
  font-size: 1rem;
  color: var(--color-text);
  padding-right: 2rem;
  line-height: 2rem;
}

.content {
  width: 100%;
}

.content h3,
.content h4 {
  line-height: 2rem;
}

.details {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  border-left: 1px solid var(--color-primary);
}
@media (min-width: 1150px) {
  .mobileDetails {
    display: none;
  }
}
@media (max-width: 1150px) {
  .details {
    display: none;
  }
  .mobileDetails {
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid var(--color-primary);
  }
}
