.title {
  font-size: 1rem;
  color: var(--color-text);
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.filtro {
  /* 2 pra cima, 0 pros lados, e 0 pra baixo: */
  margin: 2rem 0 0;
  margin-right: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-dark-blue);
  border: 1px solid var(--color-primary);
  border-radius: 0.5rem;
  max-height: 50rem;
  padding: 1rem;
}

.filtro_list {
  width: 100%;
  height: 7rem;
  overflow: auto;
}

.filtro_list li {
  font-size: 1rem;
  line-height: 1.5rem;
}
